:root{
    --bs-body-font-family: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.protest-strike-regular {
    font-family: "Protest Strike", sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    background-color: #f6f9fc;
}
.container{
        background-color: #f6f9fc;
    width: 80%;
}

.title{
    align-items: center;
    justify-content: center;
}

h1{
    color: #304926;
}
h3{
    color: #304926;
}

.card{
    background-color: #ffffff;
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.10);
}

.card-body{
    color: #5f6f52;
}

.card-img-top{
    border-radius: 65px;
    padding: 50px;
}





