/* Master Head Element */
.masthead {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.contact-head {
  background-image: url(scott-webb-hDyO6rr3kqk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
}

.contact-head .container {
  height: 30vh;
}

/* Custom CSS */
.btn-primary,
#submitButton {
  background-color: #5f6f52; /* Change to the desired color */
  border-color: #5f6f52; /* Optional: Change border color if needed */
}

.text-primary {
  color: #5f6f52 !important;
}

#services,
#CTA {
  background-color: #f6f9fc;
}

/* Custom CSS for cards */
#services {
    position: relative; /* Ensure relative positioning for ::after */
    /* padding-bottom: 30px; Add padding to create space for the squiggly line */

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px; /* Adjust the height of the squiggly line */
        background-image: url('./assets/Vector.png');
        background-repeat: repeat-x;
        z-index: -1;
        transform: rotate(0deg); /* Rotate the vector by 3 degrees */

    }
}

/* Portfolio */
.portfolio-box
{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: 0px, none, rgba(0, 0, 0, 0);
}

/* Lightbox Elements */
/* 
    -- Light Box Todo --
    1. Make Mobile Accessible Controls.
    2. Fix Positioning a bit more on the close button so that it's a bit more in line with the right arrow.
    3. Maybe make the image dynamic that it will grow and shrink based on the screen size.
*/
.lightbox-div{
    display:none; /* Will be changed to Flex by jQuery later! Required for fade to work properly, otherwise the lightbox would flash on screen before disappearing when trying to hide it with .ready(). */
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.7);
}
#lightbox-imagebox{
    background-color: rgb(0,0,255);
    margin: auto;
}
#lightbox-image{
    margin: auto;
}
#lightbox-left-arrow{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}
#lightbox-right-arrow{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}
#lightbox-close {
    color: white;
    margin-top: 5rem;
}

/* Google Icons CSS Code */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}
.material-symbols-outlined:hover{ /* Custom Script As They Are Used For Buttons. */
    cursor: pointer;
}


/* Card Elements */
.card {
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Default background color */
}

.card:hover {
    transform: translateY(-5px); /* Move card up slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #5f6f52; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
}

.card:hover .text-primary,
.card:hover .text-muted {
    color: #ffffff !important; /* Change text color to white on hover */
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px; /* Adjust as needed */
  height: 75px; /* Adjust as needed */
  border-radius: 50%;
  overflow: hidden; /* Ensure the image is clipped to the circle */
}

.logo-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Responsive styles */
@media (max-width: 991.98px) {
  .logo-container {
      width: 50px;
      height: 50px;
  }

}

/* .nav-item{
    background-color: rgba(0,0,0,0.3);
} */
